extends base 

block content 
    h1 watch #{video.title} 
    div 
        p=video.description
        small=video.craetedAt
    a(href=`/videos/${video.id}/edit`) Edit Video &rarr;
    a(href=`/videos/${video.id}/delete`) delete Video &rarr;